<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="winner.Config" type="WinnerSoft.Configuration.ConfigHandler,WinnerSoft.System" />
		<section name="plugInLoadSettings" type="HPSoft.FrameWork.HPSoftConfigurationSectionHandler,HPSoft.FrameWork" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
		<section name="bizConfiguration" type="HPSoft.FrameWork.HPSoftConfigurationSectionHandler, HPSoft.FrameWork" />
		<section name="FrameBuildStrategy" type="HPSoft.FrameWork.HPSoftConfigurationSectionHandler, HPSoft.FrameWork" />
	</configSections>
	<appSettings>
		<add key="BaseUriPath" value="http://localhost:8888/" />
		<add key="CallMode" value="Local" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<!--<add key="jSn3C2+vY2w=" value="A/un++d5f3w3miZM3GvYYSkzgrZxgtc+"/>-->
		<add key="jSn3C2+vY2w=" value="k10ifadIAsVSUEgMCaYbC/bRWKWRNYA0lxGgIkXxIZ8=" />
	</appSettings>
	<!--以下为程序自定义的设置-->
	<plugInLoadSettings>
		<UseShadowCopy value="False" />
		<PlugInsPath value="UIPlugins" />
		<BizPlugInsPath value="BizPlugins" />
		<CachePath value="ShadowCopy" />
	</plugInLoadSettings>
	<FrameBuildStrategy>
		<Strategy stage="0" library="HPSoft.FrameWork.WinForm" class="HPSoft.Framework.Mainframe.LoadLogin" checkreturn="True" />
	</FrameBuildStrategy>
	<dataConfiguration defaultDatabase="EMRDB">
		<providerMappings>
			<add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="System.Data.SqlClient" />
		</providerMappings>
	</dataConfiguration>
	<connectionStrings>
		<add name="HISDB" connectionString="Database=HIS;Server=localhost\MSSQLSERVER03;user id=sa;password=Aa123456;" providerName="System.Data.SqlClient" />
		<add name="PACSDB" connectionString="Database=RIS;Server=localhost\MSSQLSERVER03;user id=sa;password=Aa123456;" providerName="System.Data.SqlClient" />
		<add name="LISDB" connectionString="Database=taohis;Server=localhost\MSSQLSERVER03;user id=sa;password=Aa123456;" providerName="System.Data.SqlClient" />
		<!--<add name="HISDB" connectionString="Database=HIS;Server=111.229.179.213;user id=sa;password=Password123;" providerName="System.Data.SqlClient"/>-->
		<add name="EMRDB" connectionString="Data Source=EMR;Server=localhost\MSSQLSERVER03;User Id=sa;Password=Aa123456;" providerName="System.Data.SqlClient" />
		<!--<add name="EMRDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.10)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));User Id=emrLA;Password=emr111;" providerName="System.Data.OracleClient"/>-->
	</connectionStrings>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="SQLTrace" logWarningsWhenNoCategoriesMatch="true">
		<!--tracingEnabled="true"则打印 -->
		<listeners>
			<add fileName="tracesql.log" header="----------------------------------------" footer="----------------------------------------" formatter="Sql Log Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="FlatFile TraceListener" />
			<add source="Enterprise Library Logging" formatter="" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Formatted EventLog TraceListener" />
			<add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.WmiTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.WmiTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="WMI TraceListener" />
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp}  [Machine]     {machine}           [App Domain]  {appDomain}  [Sql Scripts]  {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Sql Log Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="SQLTrace" />
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events">
				<listeners>
					<add name="FlatFile TraceListener" />
				</listeners>
			</allEvents>
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings" />
		</specialSources>
	</loggingConfiguration>
	<winner.Config>
		<ConfigurationItem name="ID" attributes="None" value="WINNER developer config" />
		<ConfigurationItem name="Title" attributes="None" value="WINNER system config" />
		<ConfigurationItem name="DbConnectString" attributes="None" value="Provider=SQLOLEDB.1;Persist Security Info=False;User ID=sa;Password=Aa123456;Initial Catalog=his;Data Source=localhost\MSSQLSERVER03" />
		<!--<ConfigurationItem name="DbConnectString" attributes="None" value="Provider=SQLOLEDB.1;Persist Security Info=False;User ID=sa;Password=hsbyby1313;Initial Catalog=his;Data Source=192.168.0.250"/>-->
		<!--<ConfigurationItem name="DbConnectString" attributes="None" value="Provider=SQLOLEDB.1;Persist Security Info=False;User ID=sa;Password=123;Initial Catalog=his;Data Source=LAPTOP-F8MRP9CG"/>-->
		<!--<ConfigurationItem name="DbConnectString" attributes="None" value="Provider=SQLOLEDB.1;Persist Security Info=False;User ID=sa;Password=dgesignsoft;Initial Catalog=his;Data Source=192.168.1.30"/>-->
		<!--<ConfigurationItem name="DbConnectString" attributes="None" value="Provider=SQLOLEDB.1;Persist Security Info=False;User ID=sa;Password=dgesignsoft;Initial Catalog=his;Data Source=192.168.6.254"/>-->
		<!--<ConfigurationItem name="DbConnectString" attributes="None" value="Provider=SQLOLEDB.1;Persist Security Info=False;User ID=sa;Password=Password123;Initial Catalog=his;Data Source=111.229.179.213"/>-->
		<ConfigurationItem name="DefaultSecret" attributes="Encryption" value="Yes" />
		<ConfigurationItem name="WorkstationUser" attributes="None" value="" />
		<ConfigurationItem name="LastUser" attributes="None" value="admin" />
		<ConfigurationItem name="MedicareProviderRealization" attributes="None" value="YHMedicare.CD.Realization" />
		<ConfigurationItem name="MedicareProviderUI" attributes="None" value="YHMedicare.CD.UI" />
		<ConfigurationItem name="Startup" attributes="None" value="" />
		<ConfigurationItem name="ShellMode" attributes="None" value="DevShell" />
		<ConfigurationItem name="MultiInstance" attributes="None" value="Enabled" />
		<ConfigurationItem name="DebugFlag" attributes="None" value="true" />
		<ConfigurationItem name="Version" attributes="None" value="1.05" />
		<ConfigurationItem name="Assembly" attributes="None" value="HIS.Clinic.DoctorWorkstation" />
		<ConfigurationItem name="LoginSave" attributes="None" value="Enabled" />
		<ConfigurationItem name="User" attributes="None" value="21" />
		<ConfigurationItem name="Password" attributes="None" value="RwRng34OG0s=" />
		<ConfigurationItem name="DeptId" attributes="None" value="210268" />
	</winner.Config>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>